<h2>User info</h2>

<%= form_with model: User.new do |f| %>

<%= f.file_field :image, accept: "image/*" %>
  <table class="table table-striped">    
    <thead>  
      <tr>
        <th class=header>name</th>
      </tr>
      <tr>
        <th class=header>Introduction</th>
      </tr>
    </thead>
  </table>
<% end %>

<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p><%= f.submit 'Create Book'%></p>

<% end %>