<h2>User info</h2>

  <%= image_tag @user.get_profile_image(150,150) %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class=header>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th class=header>Introduction</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<%= button_tag type: "submit", class: "btn btn-default" do%>
  <
<% end %>

<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p><%= f.submit 'Create Book'%></p>

<% end %>

<h2>Books</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class=header>Title</th>
            <th class=header>Opinion</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>