<% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>

<h2>Editing Book</h2

<% if @book.errors.any? %>
  <%= @book.errors.count %>error rpohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>

  <h5>Tilte</h5>
  <%= f.text_field :title %>

  <h5>Opinion</h5>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book'%>

  <p>
    <%= link_to "show", book_path(@book.id) %> /
    <%= link_to "back", boos_path %>
  </p>

<% end %>