<h2>User info</h2>

  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "150x150" %>
  <% else %>
    <%= image_tag 'no_image', size: "150x150" %>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class=header>name</th>
            </tr>
            <tr>
              <th class=header>Introduction</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

 <%= link_to '<i class="fa-solid fa-user-gear"></i>', usres_edit_path, class: "btn btn-secondary" %>

<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p><%= f.submit 'Create Book'%></p>

<% end %>

<h2>Books</h2>

<% @books.each do |book| %>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= image_tag @book.user.get_profile_image(100,100) %></th>
              <th><%= @book.user.name %></th>
              <th class=header>Title</th>
              <th class=header>Opinion</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
<% end %>

