<!DOCTYPE html>
<html>
  <div>
  <%= flash[:notice] %>
  </div>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://kit.fontawesome.com/e08924e0ea.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Bookers</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to "Bookers",root_path %>
            </li>
            <li>
              <%= link_to "Home", user_path(current_user.id) %>
            </li>
            <li>
              <%= link_to "Users", users_path %>
            </li>
              <%= link_to "Books", books_path, class: 'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to "Log out", destroy_user_session_path , method: :delete, class: 'nav-link text-dark' %>
            </li>
            <% else %>
            <li>
              <a class="nav-link text-light" href="/">
              <i class="fa-solid fa-house"></i>Home
            </li>
            <li>
              <a class="nav-link text-light" href="/home/about">
              <i class="fa-solid fa-link"></i>About
            </li>
            <li>
              <a class="nav-link text-light" href="/users/sign_up">
              <i class="fa-solid fa-user-plus"></i>Sign up
            </li>
            <li>
              <a class="nav-link text-light" href="/users/sign_in">
              <i class="fa-solid fa-right-to-bracket"></i>Log in
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
